.App {
    width: 80%;
    margin: auto;
    background: #DCEDC8;
    padding-bottom: 20px;
    border-left: 1px solid #1B5E20;
    border-right: 1px solid #1B5E20;
}

.App-header {
    padding: 10px 15px;
}

#login-btn {
    float: right;
}

.container {
    width: 80%;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px auto 50px auto;
    display: flex;
}

.container #registerButton {
    margin-top: 20px;
    margin-left: 71%;
}

.header_register {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.textField {
    width: 70%,
}

.home-div {
    width:80%;
    /* padding: 0px 10%;  */
    margin: 3% auto;
}

.admin-section {
    display: flex;
    flex-wrap: wrap;
}

.admin-section #left-side, .admin-section #right-side {
    width:20%;
}

.admin-section #main-div {
width: 60%;
}

/* Admin style */

.admin-app {
    width: 90%;
    margin: auto;
    /* margin: auto;
    background: #DCEDC8;
    padding-bottom: 20px;
    border-left: 1px solid #1B5E20;
    border-right: 1px solid #1B5E20; */
}

.admin-header {
    padding: 10px 15px;
}